<!DOCTYPE html>
<html>
<head>
    <title>Ajouter une préparation</title>
</head>
<body>
    <h1>Ajouter une préparation</h1>
    <form method="POST">
        Nom: <input type="text" name="nom"><br>
        Nombre de Portions: <input type="text" name="nombre_portions"><br>
        Coût Total: <input type="text" name="coût_total"><br>
        Coût par Portion: <input type="text" name="coût_par_portion"><br>
        Sauce:
        <select name="sauce_id">
            {% for sauce in sauces %}
            <option value="{{ sauce.id }}">{{ sauce.nom }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>
