<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
    <h1>Liste des préparations</h1>
    <ul>
        {% for préparation in préparations %}
        <li>{{ préparation.nom }} - {{ préparation.coût_total }} Dhs</li>
        {% endfor %}
    </ul>

    <h1>Liste des sauces</h1>
    <ul>
        {% for sauce in sauces %}
        <li>{{ sauce.nom }} - {{ sauce.coût_total }} Dhs</li>
        {% endfor %}
    </ul>

    <h1>Liste des ingrédients</h1>
    <ul>
        {% for ingrédient in ingrédients %}
        <li>{{ ingrédient.nom }} - {{ ingrédient.prix_unitaire }} Dhs</li>
        {% endfor %}
    </ul>

    <a href="/ajouter_ingredient">Ajouter un ingrédient</a>
    <a href="/ajouter_sauce">Ajouter une sauce</a>
    <a href="/ajouter_preparation">Ajouter une préparation</a>
</body>
</html>
