<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Sauces</title>
</head>
<body>
    <h1>Liste des Sauces</h1>
    <ul>
        {% for sauce in sauces %}
            <li>
                {{ sauce.name }} - {{ sauce.portions }} portions  <!-- Assurez-vous que les attributs correspondent -->
                <ul>
                    {% for sauce_ingredient in sauce.ingredients %}
                        <li>{{ sauce_ingredient.ingredient.name }} : {{ sauce_ingredient.quantity }} unités - Prix: {{ sauce_ingredient.ingredient.prix_unitaire }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
